@page "/calculators"
@using BlazorApp1.Shared
@inject IJSRuntime JS
@inject HttpClient Http

<h1>Resources Calculator</h1>
<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>food</th>
        <th>iron</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    
    </tbody>
</table>